/*----- Basics -----*/
:root {
  --primary-bg-color: #36255b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
  height: 100vh;
  min-width: 460px;
}
body {
  color: #fff;
}
.container {
  min-height: 100vh;
  position: relative;
}
header,
footer {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2%;
  background-color: var(--primary-bg-color);
}
a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease;
}
a:hover {
  color: #157efb;
}
ul {
  list-style: none;
}
header ul li,
footer ul li {
  display: inline-block;
}
/*----- Basics -----*/

/*----- Header css -----*/
header {
  font-size: 1.2rem;
}
header img {
  width: 32px;
  height: 32px;
}
.logo {
  margin-right: auto;
  font-weight: bold;
  cursor: pointer;
}
header ul li {
  padding: 0 12px;
}
.nav-logsign {
  display: none !important;
  padding: 10px 25px !important;
  box-shadow: 0 10px 30px -5px #000;
}
.header-search {
  width: 210px;
  height: 32px;
  margin: 0 12px 0 2%;
  position: relative;
}
.header-search input {
  position: absolute;
  height: 32px;
  width: 85%;
  padding: 0 12px;
  border: solid #fff;
  border-radius: 50px 0 0 50px;
  outline: none;
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
}
.header-search label {
  width: 32px;
  cursor: pointer;
}
.header-search label img {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 4px;
  border: solid #fff;
  border-left: 0;
  border-radius: 0 50px 50px 0;
  background-color: transparent;
}
.user-icon {
  height: 32px;
  cursor: pointer;
  margin-left: 10px;
  position: relative;
}
.login-status {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.online {
  background-color: green;
}
.offline {
  background-color: red;
}
.logsign {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 2%;
  top: 70px;
  padding: 5px 10px;
  background-color: var(--primary-bg-color);
  transform: translateY(-50%);
  z-index: 9;
  transition: all 0.5s ease;
}
.logsign::after {
  content: "";
  position: absolute;
  top: -7px;
  right: 12px;
  width: 15px;
  height: 15px;
  background-color: var(--primary-bg-color);
  transform: rotate(45deg);
}
.ham-menu {
  display: none;
  height: 32px;
  width: 35px;
  margin-left: 15px;
  position: relative;
  cursor: pointer;
}
.ham-menu div {
  width: 35px;
  height: 5px;
  border-radius: 50px;
  background-color: #fff;
  transition: all 0.5s ease;
}
.bar1,
.bar2,
.bar3 {
  position: absolute;
}
.bar1 {
  top: 2px;
}
.bar2 {
  top: 50%;
  transform: translateY(-50%);
}
.bar3 {
  bottom: 2px;
}
/*----- Header css -----*/

/*----- Main -----*/
main {
  padding: 45px 2% 90px 2%;
  color: #000;
}
main a {
  color: blue;
  text-decoration: underline;
  font-weight: normal;
}
.person-info {
  width: 100%;
  display: flex;
  padding: 40px 20px 20px 20px;
  border: solid #000 1px;
  border-radius: 2px;
  font-weight: 500;
  position: relative;
}
.person-info::before {
  content: "Your Personal Info";
  position: absolute;
  top: 0;
  left: 15px;
  padding: 5px;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #fff;
  transform: translate(0, -50%);
}
.person-info div {
  flex-grow: 1;
  line-height: 3;
}
.attr p {
  padding-left: 50px;
}
.attr-values p {
  display: flex;
  color: var(--primary-bg-color);
}
.attr-values p span {
  margin-right: 10px;
}
.person-info div p:nth-child(odd) {
  background-color: #eee;
}
main input[type="submit"] {
  margin-right: 10px;
  margin-top: 20px;
  padding: 2px 5px;
  cursor: pointer;
}
main input[name="pwd-reset"] {
  margin-top: 0;
  border: 0;
  background-color: transparent;
  color: blue;
}
main input[name="pwd-reset"]:hover {
  text-decoration: underline;
}
/*----- Main -----*/

/*----- Footer css -----*/
footer {
  position: absolute;
  bottom: 0;
}
footer img {
  width: 32px;
  height: 32px;
}
footer span {
  margin-right: auto;
}
footer ul li {
  padding: 0 10px;
}
/*----- Footer css -----*/

/*----- Responsive css -----*/
@media only screen and (max-width: 920px) {
  body {
    overflow-x: hidden;
  }
  .user-icon {
    display: none;
  }
  .logsign {
    display: none;
  }
  header .ham-menu {
    display: block;
  }
  .nav-logsign {
    display: block !important;
  }
  .nav {
    z-index: 999;
    position: absolute;
    top: 60px;
    right: 0;
    width: 50%;
    height: calc(100% - 60px);
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-bg-color);
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }
  .nav li {
    opacity: 0;
  }
}
/*----- Responsive css -----*/

/*----- Animations and transitions -----*/
.logsign-toggle {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0%);
}
.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFadeIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes navLinkFadeOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(50px);
  }
}
.toggle .bar1 {
  transform: rotateZ(-45deg) translate(-8px, 8px);
}
.toggle .bar2 {
  opacity: 0;
}
.toggle .bar3 {
  transform: rotateZ(45deg) translate(-8px, -8px);
}
/*----- Animations and transitions -----*/
